<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<title>Bebidas</title>
	<link rel="stylesheet" href="{% static 'Menu/bebidas/styles_bebidas.css' %}">
	<!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans&family=Oleo+Script+Swash+Caps:wght@700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&family=Inter&family=Noto+Sans&family=Oleo+Script+Swash+Caps:wght@700&display=swap" rel="stylesheet">
	<!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<header>
	<div class="menu">
		{% include "main/includes/navbar.html" %}
	</div>
	<div class="contenedor head">
		<h1>Matias pin pin</h1>
		<div class="copy">
			<h3>Hoy es un dia perfecto para darte gusto</h3>
		</div>
	</div>
</header>
<body class="body_feo">
	<section class= "menu_carta">
		<section class= "seccion_gaseosas">
				<h1>BEBIDAS GASEOSAS</h1>
				<div class="contenedor_gaseosas">
					<div class="gaseosas">
						<a class="botones_gaseosas" href="{% url 'main:agregar' 86 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Gaseosa Mini</span>
						</a>
						<a class="botones_gaseosas" href="{% url 'main:agregar' 87 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Gaseosa P400</span>
						</a>
						<a class="botones_gaseosas" href="{% url 'main:agregar' 88 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Gaseosa P600</span>
						</a>
						<a class="botones_gaseosas" href="{% url 'main:agregar' 89 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Gaseosa 1.5 Lt</span>
						</a>
						<a class="botones_gaseosas" href="{% url 'main:agregar' 90 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Gaseosa Lata</span>
						</a>
						<a class="botones_gaseosas" href="{% url 'main:agregar' 91 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Gaseosa 3 Lt</span>
						</a>
					</div>
				</div>
		</section>
		<section class= "seccion_aguas">
				<h1>AGUA</h1>
				<div class="contenedor_aguas">
					<div class="aguas">
						<a class="botones_aguas" href="{% url 'main:agregar' 92 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Agua Mini</span>
						</a>
						<a class="botones_aguas" href="{% url 'main:agregar' 93 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Agua Personal</span>
						</a>
						<a class="botones_aguas" href="{% url 'main:agregar' 94 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Agua Gas</span>
						</a>
						<a class="botones_aguas" href="{% url 'main:agregar' 95 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Agua Saborizada</span>
						</a>
						<a class="botones_aguas" href="{% url 'main:agregar' 111 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Agua 1 Lt</span>
						</a>
					</div>
				</div>
		</section>
		<section class= "seccion_varios">
				<h1>Varios</h1>
				<div class="contenedor_varios">
					<div class="varios">
						<a class="botones_varios" href="{% url 'main:agregar' 96 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Mr. Tea</span>
						</a>
						<a class="botones_varios" href="{% url 'main:agregar' 97 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Jugo Personal del Valle</span>
						</a>
						<a class="botones_varios" href="{% url 'main:agregar' 98 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Jugo 1 Lt del Valle</span>
						</a>
						<a class="botones_varios" href="{% url 'main:agregar' 99 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Pony 300cc</span>
						</a>
						<a class="botones_varios" href="{% url 'main:agregar' 100 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Pony 1 Lt</span>
						</a>
					</div>
				</div>
		</section>
		<section class= "seccion_bebidas-alcoholicas">
				<h1>BEBIDAS ALCOHOLICAS</h1>
				<div class="contenedor_bebidas-alcoholicas">
					<div class="bebidas-alcoholicas">
						<a class="botones_bebidas-alcoholicas" href="{% url 'main:agregar' 101 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Corona 355cc</span>
						</a>
						<a class="botones_bebidas-alcoholicas" href="{% url 'main:agregar' 102 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Club Colombia Lata</span>
						</a>
						<a class="botones_bebidas-alcoholicas" href="{% url 'main:agregar' 103 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Aguila Light</span>
						</a>
						<a class="botones_bebidas-alcoholicas" href="{% url 'main:agregar' 104 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Cerveza Águila o Poker</span>
						</a>
						<a class="botones_bebidas-alcoholicas" href="{% url 'main:agregar' 105 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Costeñita</span>
						</a>
						<a class="botones_bebidas-alcoholicas" href="{% url 'main:agregar' 106 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Cola y Pola</span>
						</a>
						<a class="botones_bebidas-alcoholicas" href="{% url 'main:agregar' 107 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Budweiser</span>
						</a>
					</div>
				</div>
		</section>
		<section class= "seccion_bebidas-naturales">
				<h1>BEBIDAS NATURALES</h1>
				<div class="contenedor_bebidas-naturales">
					<div class="bebidas-naturales">
						<a class="botones_bebidas-naturales" href="{% url 'main:agregar' 108 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Limonada Cerezada</span>
						</a>
						<a class="botones_bebidas-naturales" href="{% url 'main:agregar' 109 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Limonada Yerbabuena</span>
						</a>
						<a class="botones_bebidas-naturales" href="{% url 'main:agregar' 110 %}">
							<img src="{% static 'Menu/bebidas/imagenes/Cart.png' %}" class="icono">
							<span>Limonada Coco</span>
						</a>
					</div>
				</div>
		</section>
	</section>
</body>
{% include "main/includes/footer.html" %}
</html>