* {
    padding: 0px;
    margin: 0px;
}

body {
    background: linear-gradient(90deg, rgba(0,183,189,0.8) 0%,rgba(255,152,0,0.8) 45%, rgba(255,205,0,0.8) 84%);
    font-family: 'Baloo 2', cursive;
}

@font-face{
    font-family: bigfatscript;
    src:  url("Fuentes/Bigfat Script.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

header {
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(0,183,189,0.2) 0%,rgba(255,152,0,0.2) 45%, rgba(255,205,0,0.2) 84%), url(imagenes/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: auto;
    height: 800px;

}

.menu {
    padding-top: 27px;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    position: fixed;
    /*-----------Quitar fijacion menu-------*/
    
    z-index: 100;
    /*--------------------------------------*/
}

/*------------MENU MARLON---------------*/
nav {
    margin: 0px auto 0;
    position: relative;
    width: 560px;
    height: 50px;
    background-color: #1E1E1E;
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

nav .start-about,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #FF9800;
}

nav .start-home,
a:nth-child(2):hover~.animation {
    width: 120px;
    left: 100px;
    background-color: #FFCD00;
}

nav .start-blog,
a:nth-child(3):hover~.animation {
    width: 120px;
    left: 220px;
    background-color: #00B7BD;
}

nav .start-portefolio,
a:nth-child(4):hover~.animation {
    width: 120px;
    left: 340px; /*666.350 - 592.312*/
    background-color: #FF9800;
}

nav .start-contact,
a:nth-child(5):hover~.animation {
    width: 100px;
    left: 460px; /*  74.038*/ 
    background-color: #FFCD00;
}
/*-------------------Texto menu------------------------*/
.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.head {
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FF9800;
}

.head h1 {
    font-weight: 300;
    font-size: 100px;
    font-family: bigfatscript;
    text-shadow: 3px 3px 0px #00B7BD, 5px 5px 0px #FFCD00;
}

.copy h3 {
    font-size: 35px;
    color: #FFCD00;
    font-family: 'Baloo 2', cursive;
    overflow: hidden;
    border-right: .15em solid #1E1E1E;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0px 5px 10px 0px;
    letter-spacing: .15em;
    animation:
        typing 3s steps(20, end),
        blink-caret .5s step-end infinite;
    text-shadow: 3px 3px 0px #00B7BD,
        5px 5px 0px #FF9800;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}
/*--------------------------MENU--------------------------------*/

/*--------------------------Gaseosas--------------------------------*/
.seccion_gaseosas{
    overflow: hidden;
    margin-bottom: 15px; 
    
}
.seccion_gaseosas h1{ 
    font-family: bigfatscript;
    text-align: center;
    font-size: 80px;
    color: #fff;
    background-color: #00B7BD;
    border: 3px solid black;
}
.contenedor_gaseosas{
    width: 95%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gaseosas{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.menu_carta a {
    font-family: 'Baloo 2', cursive;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: #1E1E1E;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
a span {
    transition: all 5s ease-out;
    position: absolute;
    align-items: center;
    display: flex;
}
.botones_gaseosas img{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    transition: .3s ease-in-out all;
    opacity: 0;
    left: 5px;
}
.botones_gaseosas:hover{
    background: linear-gradient(90deg, #00B7BD 0%, #FF9800 45%, #FFCD00 84%) ;
    transition: all 500ms ease-out;
}
.botones_gaseosas:hover img{
    left: calc(100% - 50px);
    opacity: 1;
}
.botones_gaseosas:hover span {
    left: 20px;
    transition: all 100s ease-out;
}
/*------------------------------Aguas--------------------------------*/
.seccion_aguas{
    overflow: hidden;
    margin-bottom: 15px; 
}
.seccion_aguas h1{ 
    font-family: bigfatscript;
    text-align: center;
    font-size: 80px;
    color: #fff;
    background-color: #FF9800;
    border: 3px solid black;
}
.contenedor_aguas{
    width: 95%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aguas{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.botones_aguas img{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    transition: .3s ease-in-out all;
    opacity: 0;
    left: 5px;
}
.botones_aguas:hover{
    background: linear-gradient(90deg, #00B7BD 0%, #FF9800 45%, #FFCD00 84%) ;
}
.botones_aguas:hover img{
    left: calc(100% - 50px);
    opacity: 1;
}
.botones_aguas:hover span {
    left: 20px;
}
/*------------------------------Varios--------------------------------*/
.seccion_varios{
    overflow: hidden;
    margin-bottom: 15px; 
}
.seccion_varios h1{ 
    font-family: bigfatscript;
    text-align: center;
    font-size: 80px;
    color: #fff;
    background-color: #FFCD00;
    border: 3px solid black;
}
.contenedor_varios{
    width: 95%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.varios{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.botones_varios img{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    transition: .3s ease-in-out all;
    opacity: 0;
    left: 5px;
}
.botones_varios:hover{
    background: linear-gradient(90deg, #00B7BD 0%, #FF9800 45%, #FFCD00 84%) ;
}
.botones_varios:hover img{
    left: calc(100% - 50px);
    opacity: 1;
}
.botones_varios:hover span {
    left: 20px;
}
/*------------------------------Bebidas-Alcoholicas--------------------------------*/
.seccion_bebidas-alcoholicas{
    overflow: hidden;
    margin-bottom: 15px; 
}
.seccion_bebidas-alcoholicas h1{ 
    font-family: bigfatscript;
    text-align: center;
    font-size: 80px;
    color: #fff;
    background-color: #00B7BD;
    border: 3px solid black;
}
.contenedor_bebidas-alcoholicas{
    width: 95%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bebidas-alcoholicas{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.botones_bebidas-alcoholicas img{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    transition: .3s ease-in-out all;
    opacity: 0;
    left: 5px;
}
.botones_bebidas-alcoholicas:hover{
    background: linear-gradient(90deg, #00B7BD 0%, #FF9800 45%, #FFCD00 84%) ;
}
.botones_bebidas-alcoholicas:hover img{
    left: calc(100% - 50px);
    opacity: 1;
}
.botones_bebidas-alcoholicas:hover span{
    left: 20px;
}
/*------------------------------Bebidas-Naturales--------------------------------*/
.seccion_bebidas-naturales{
    overflow: hidden;
    margin-bottom: 15px; 
}
.seccion_bebidas-naturales h1{ 
    font-family: bigfatscript;
    text-align: center;
    font-size: 80px;
    color: #fff;
    background-color: #FF9800;
    border: 3px solid black;
}
.contenedor_bebidas-naturales{
    width: 95%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bebidas-naturales{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.botones_bebidas-naturales img{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    transition: .3s ease-in-out all;
    opacity: 0;
    left: 5px;
}
.botones_bebidas-naturales:hover{
    background: linear-gradient(90deg, #00B7BD 0%, #FF9800 45%, #FFCD00 84%) ;
}
.botones_bebidas-naturales:hover img{
    left: calc(100% - 50px);
    opacity: 1;
}
.botones_bebidas-naturales:hover span{
    left: 20px;
}
/*|-----------------------FOOTER------------------------|*/
footer {
    width: 100%;
    padding: 30px 0px 10px 0px;
    background-size: cover;
    background-color: #253443;
    margin-top: 50px;
    list-style: none;
    color: white;
}

.footertodo {
    display: flex;
    width: 80%;
    border-top: 1px solid #2a4764;
    margin: 0 10%;
    padding-bottom: 2%;
    padding-top: 1%;
}

.menufoot {
    width: 20%;
    margin: 0 8%;
}

.menufoot h2 {
    margin-left: 10px;
    color: #00B7BD;
    text-shadow: 2px -1px 0px #1a538d, 3px -2px 0px #1b76d0;
}

.menufoot li a {
    color: white;
}

.contactanos {
    width: 20%;
    margin: 0 8%;
}

.contactanos h2 {
    margin-left: 10px;
    color: #00B7BD;
    text-shadow: 2px -1px 0px #1a538d, 3px -2px 0px #1b76d0;
}

.contactanos li {
    margin: 2% 0;
}

.cont-icon {
    width: 20%;
    text-align: center;
    margin: 0 7%;
}

.cont-icon h2 {
    width: 100%;
    color: #00B7BD;
    text-shadow: 2px -1px 0px #1a538d, 3px -2px 0px #1b76d0;
}

.icon {
    display: flex;
    /*padding-left: 35%;*/
    margin-top: 30px;
    margin-left: 16%;
}

.icon a {
    width: auto;
    margin: 0 3px;
}

.colorear {
    font-size: 30px;
    margin-left: 1%;
}

.bxl-facebook-circle {
    color: #4267B2;
}

.bxl-twitter {
    color: #1DA1F2;
}

.bxl-instagram-alt {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.bxl-youtube {
    color: #FF0000;
}

.dautor {
    text-align: center;
    border-top: 1px solid #2a4764;
    padding-top: 2%;
    width: 80%;
    margin: 0 10%;

}

/*-----------------------------------------------------*/