* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #00B7BD;
}

header {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(172, 197, 239, 0.4) 0%, rgba(239, 196, 158, 0.5) 100%), url(imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: initial;
    width: auto;
    height: 800px;

}

.menu {
    padding-top: 27px;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    /*-----------Quitar fijacion menu-------*/
    
    z-index: 100;
    /*--------------------------------------*/
}

/*------------MENU MARLON---------------*/
nav {
    margin: 0px auto 0;
    position: relative;
    width: 560px;
    height: 50px;
    background-color: #1E1E1E;
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 120px;
}

a:nth-child(3) {
    width: 120px;
}

a:nth-child(4) {
    width: 100px;
    padding: 0 10px;
}

a:nth-child(5) {
    width: 100px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #FF9800;
}

nav .start-about,
a:nth-child(2):hover~.animation {
    width: 120px;
    left: 100px;
    background-color: #FFCD00;
}

nav .start-blog,
a:nth-child(3):hover~.animation {
    width: 120px;
    left: 220px;
    background-color: #00B7BD;
}

nav .start-portefolio,
a:nth-child(4):hover~.animation {
    width: 120px;
    left: 340px; /*666.350 - 592.312*/
    background-color: #FF9800;
}

nav .start-contact,
a:nth-child(5):hover~.animation {
    width: 100px;
    left: 460px; /*  74.038*/ 
    background-color: #FFCD00;
}
/*-------------------Texto menu------------------------*/
.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

.head {
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FF9800;
}

.head h1 {
    font-weight: 300;
    font-size: 100px;
    font-family: bigfatscript;
    text-shadow: 3px 3px 0px #00B7BD, 5px 5px 0px #00B7BD
}

.copy h3 {
    font-size: 35px;
    color: #1E1E1E;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Oleo Script Swash Caps', cursive;
    overflow: hidden;
    border-right: .15em solid #1E1E1E;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0px 5px 10px 0px;
    letter-spacing: .15em;
    animation:
        typing 3s steps(20, end),
        blink-caret .5s step-end infinite;
    text-shadow: 3px 3px 0px #00B7BD,
        5px 5px 0px #FFCD00;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}
/*--------------------------MENU--------------------------------*/

@font-face{
    font-family: bigfatscript;
    src:  url("Fuentes/Bigfat Script.ttf");
}
.menu_carta1 h1{
    font-family: bigfatscript;
    text-align: center;
    margin-top: 55px;
    margin-left: 18px;
    font-size: 90px;
    position: absolute;
}
.menu_carta1 h2 {
    font-family: bigfatscript;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    color: #fff;
    border-top: 5px solid #FF9800;
    border-bottom: 5px solid #FF9800;
    background-color: #FFCD00;
}
.menu_carta1{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.menu_carta1-2{
    float: right;
    width: auto;
}
.imgmenu1-2{
    width: 800px;
    height: 400px;
}
/*--------------------------CLASE DEL CONTENEDOR1--------------------------------*/

.cosas_menu h1{
    font-family: 'Baloo 2', cursive;
    color: #fff;
}

.cosas_menu{
    width: 100%;
    height: auto;
}
.cosas_menu p{
    font-family: 'Baloo 2', cursive;
}
.cosas_menu h3{
    font-family: 'Baloo 2', cursive;
}

.contenedor1{
    overflow: hidden;
}
.subcontenedor1{
    float: left;
    border: 5px solid #FF9800;
    font-size: 50px;
    text-align: center;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40%;
    margin-top: 20px;
    background-color: #FFCD00;
}
.subcontenedor1 figure{
    position: relative;
    overflow: hidden;
}
.subcontenedor1 figure img{
    transition: all 500ms ease-out;
}
.subcontenedor1 figure .capa{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
    background: rgba(12, 90, 140, 0.6);
    border-radius: 10px;

}
.subcontenedor1 figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.subcontenedor1 figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.subcontenedor1 figure .capa h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
}
.subcontenedor1 figure .capa p{
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 35px;
}
.subcontenedor1-1{
    border: 5px solid #FF9800;
    float: right;
    font-size: 50px;
    text-align: center;
    background-color: #FFCD00; 
    border-radius: 10px;
    margin-right: 40px;
    width: 40%;
    margin-top: 20px;
    height: 713px;
}
.subcontenedor1-1 figure{
    float: right;
    width: 100%;
    height: 87%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.subcontenedor1-1 figure img{
    transition: all 500ms ease-out;
}
.subcontenedor1-1 figure .capa2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
    background: rgba(12, 90, 140, 0.6);
    border-radius: 10px;

}
.subcontenedor1-1 figure:hover > .capa2{
    opacity: 1;
    visibility: visible;
}
.subcontenedor1-1 figure:hover > .capa2 h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.subcontenedor1-1 figure .capa2 h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
}
.subcontenedor1-1 figure .capa2 p{
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 35px;
}
/*--------------------------CLASE DE LAS IMAGENES CONTENEDOR1 Y 2--------------------------------*/
.imgsubcon{
    width: 500px;
    height: auto;
}
/*--------------------------CLASE DEL CONTENEDOR2--------------------------------*/
.contenedor2{
    overflow: hidden;
    margin-top: 50px;
}
.subcontenedor2{
    border: 5px solid #FF9800;
    float: left;
    font-size: 50px;
    text-align: center;
    margin-left: 100px;
    width: 40%;
    border-radius: 10px;
    background-color: #FFCD00;
    justify-content: center;
    align-items: center;
}
.subcontenedor2 figure{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.subcontenedor2 figure img{
    transition: all 500ms ease-out;
}
.subcontenedor2 figure .capa3{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
    background: rgba(12, 90, 140, 0.6);
    border-radius: 10px;

}
.subcontenedor2 figure:hover > .capa3{
    opacity: 1;
    visibility: visible;
}
.subcontenedor2 figure:hover > .capa3 h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.subcontenedor2 figure .capa3 h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
}
.subcontenedor2 figure .capa3 p{
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 35px;
}
.subcontenedor2-1{
    border: 5px solid #FF9800;
    font-size: 50px;
    text-align: center;
    width: 40%;
    border-radius: 10px;
    background-color: #FFCD00;
    float: right;
    height: 713px;
    margin-right: 40px;
}
.subcontenedor2-1 figure{
    float: right;
    width: 100%;
    height: 87%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.subcontenedor2-1 figure img{
    transition: all 500ms ease-out;
}
.subcontenedor2-1 figure .capa4{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all 500ms ease-out;
    visibility: hidden;
    text-align: center;
    background: rgba(12, 90, 140, 0.6);
    border-radius: 10px;

}
.subcontenedor2-1 figure:hover > .capa4{
    opacity: 1;
    visibility: visible;
}
.subcontenedor2-1 figure:hover > .capa4 h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.subcontenedor2-1 figure .capa4 h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
}
.subcontenedor2-1 figure .capa4 p{
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 35px;
}
.hipervinculos{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.subcontenedor1 a:hover > p{
    transform: scale(1.2);
    color: black;
    transition: all 500ms ease-out;
}
.subcontenedor1-1 a:hover > p{
    transform: scale(1.2);
    color: black;
    transition: all 500ms ease-out;
}
.subcontenedor2-1 a:hover > p{
    transform: scale(1.2);
    color: black;
    transition: all 500ms ease-out;
}