<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'galeria/style.css' %}">
    <title> Matias Pin Pin</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans&display=swap" rel="stylesheet">
    <!-- ------------------------------ -->
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- ------------------------------ -->
</head>
<header>
    <div class="menu1">
        {% include "main/includes/navbar.html" %}
    </div>
    <div class="contenedor head">
        <h1>Galeria</h1>
        <div class="copy">
            <h3>Un bello album de recuerdos</h3>
        </div>
    </div>
</header>
<!--Mateo pinpin-->

<body>
    <main>
        <section class="galeria" style="margin-top: 6%;">
            <h2 class="subtitulo2" style="text-align: center; margin-bottom: 5%;"></h2>
            <div class="imagenes">
                <img class="imagenes1" src="" alt=""
                    style="height: 400px; width: 400px; margin-left: 6%;margin-bottom:3%;">
                <img class="imagenes2" src="" alt=""
                    style="height: 400px; width: 400px; margin-right:2%; margin-left: 2%;margin-bottom: 3%;">
                <img class="imagenes3" src="" alt="" style="height: 400px; width: 400px; margin-bottom: 3%;">
            </div>
            <section class="galeria" style="margin-top: 6%;">
                <h2 class="subtitulo2" style="text-align: center; margin-bottom: 5%;"></h2>
                <div class="imagenes">
                    <img class="imagenes1" src="img/empleados1.PNG" alt=""
                        style="height: 400px; width: 400px; margin-left: 6%;margin-bottom:3%;">
                    <img class="imagenes2" src="img/empleados2.PNG" alt=""
                        style="height: 400px; width: 400px; margin-right:2%; margin-left: 2%;margin-bottom: 3%;">
                    <img class="imagenes3" src="img/empleados3.PNG" alt=""
                        style="height: 400px; width: 400px; margin-bottom: 3%;">
                    <img class="imagenes1" src="img/empleados4.PNG" alt=""
                        style="height: 400px; width: 400px; margin-left: 6%; margin-bottom: 3%;">
                    <img class="imagenes2" src="img/empleados5.PNG" alt=""
                        style="height: 400px; width: 400px; margin-right:2%; margin-left: 2%; margin-bottom: 3%;">
                    <img class="imagenes3" src="img/empleados6.PNG" alt=""
                        style="height: 400px; width: 400px; margin-bottom: 3%;">
                </div>
            </section>
            <section class="galeria" style="margin-top: 6%;">
                <h2 class="subtitulo2" style="text-align: center; margin-bottom: 5%;"></h2>
                <div class="imagenes">
                    <img class="imagenes1" src="img/clientes1.PNG" alt=""
                        style="height: 400px; width: 400px; margin-left: 6%;margin-bottom:3%;">
                    <img class="imagenes2" src="img/clientes2.PNG" alt=""
                        style="height: 400px; width: 400px; margin-right:2%; margin-left: 2%;margin-bottom: 3%;">
                    <img class="imagenes3" src="img/clientes3.PNG" alt=""
                        style="height: 400px; width: 400px; margin-bottom: 3%;">
                    <img class="imagenes1" src="img/clientes4.PNG" alt=""
                        style="height: 400px; width: 400px; margin-left: 6%; margin-bottom: 3%;">
                    <img class="imagenes2" src="img/clientes5.PNG" alt=""
                        style="height: 400px; width: 400px; margin-right:2%; margin-left: 2%; margin-bottom: 3%;">
                    <img class="imagenes3" src="img/clientes6.PNG" alt=""
                        style="height: 400px; width: 400px; margin-bottom: 3%;">
                </div>
            </section>
            <section class="galeria" style="margin-top: 6%;">
                <h2 class="subtitulo2" style="text-align: center; margin-bottom: 5%;"></h2>
                <div class="imagenes">
                    <img class="imagenes1" src="img/comida1.PNG" alt=""
                        style="height: 400px; width: 400px; margin-left: 6%;margin-bottom:3%;">
                    <img class="imagenes2" src="img/comida2.PNG" alt=""
                        style="height: 400px; width: 400px; margin-right:2%; margin-left: 2%;margin-bottom: 3%;">
                    <img class="imagenes3" src="img/comida3.PNG" alt=""
                        style="height: 400px; width: 400px; margin-bottom: 3%;">
                    <img class="imagenes1" src="img/comida4.PNG" alt=""
                        style="height: 400px; width: 400px; margin-left: 6%; margin-bottom: 3%;">
                    <img class="imagenes2" src="img/comida5.PNG" alt=""
                        style="height: 400px; width: 400px; margin-right:2%; margin-left: 2%; margin-bottom: 3%;">
                    <img class="imagenes3" src="img/comida6.PNG" alt=""
                        style="height: 400px; width: 400px; margin-bottom: 3%;">
                </div>
            </section>
            <section class="galeria" style="margin-top: 6%;">
                <h2 class="subtitulo2" style="text-align: center; margin-bottom: 5%;"></h2>
                <div class="imagenes">
                    <img class="imagenes1" src="img/postre1.PNG" alt=""
                        style="height: 400px; width: 400px; margin-left: 6%;margin-bottom:3%;">
                    <img class="imagenes2" src="img/postre2.PNG" alt=""
                        style="height: 400px; width: 400px; margin-right:2%; margin-left: 2%;margin-bottom: 3%;">
                    <img class="imagenes3" src="img/postre3.PNG" alt=""
                        style="height: 400px; width: 400px; margin-bottom: 3%;">
                    <img class="imagenes1" src="img/postre4.PNG" alt=""
                        style="height: 400px; width: 400px; margin-left: 6%; margin-bottom: 3%;">
                    <img class="imagenes2" src="img/postre5.PNG" alt=""
                        style="height: 400px; width: 400px; margin-right:2%; margin-left: 2%; margin-bottom: 3%;">
                    <img class="imagenes3" src="img/postre6.PNG" alt=""
                        style="height: 400px; width: 400px; margin-bottom: 3%;">
                </div>
            </section>
            <section class="galeria" style="margin-top: 6%;">
                <h2 class="subtitulo2" style="text-align: center; margin-bottom: 5%;"></h2>
                <div class="imagenes">
                    <img class="imagenes1" src="img/familia1.PNG" alt=""
                        style="height: 400px; width: 400px; margin-left: 6%;margin-bottom:3%;">
                    <img class="imagenes2" src="img/familia2.PNG" alt=""
                        style="height: 400px; width: 400px; margin-right:2%; margin-left: 2%;margin-bottom: 3%;">
                    <img class="imagenes3" src="img/familia3.PNG" alt=""
                        style="height: 400px; width: 400px; margin-bottom: 3%;">
                    <img class="imagenes1" src="img/familia4.PNG" alt=""
                        style="height: 400px; width: 400px; margin-left: 6%; margin-bottom: 3%;">
                    <img class="imagenes2" src="img/familia5.PNG" alt=""
                        style="height: 400px; width: 400px; margin-right:2%; margin-left: 2%; margin-bottom: 3%;">
                    <img class="imagenes3" src="img/familia6.PNG" alt=""
                        style="height: 400px; width: 400px; margin-bottom: 3%;">
                </div>
            </section>
    </main>
    <!--Mateo pin pin-->
</body>

{% include "main/includes/footer.html" %}

</html>