* {
    padding: 0px;
    margin: 0px;
}

@font-face {

    font-family: Bigfat;

    src: url(fuentes/Bigfat.ttf);

}

@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

body {
    font-family: 'Baloo 2', cursive;
    background: #1E1E1E;
}

header {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(172, 197, 239, 0.4) 0%, rgba(239, 196, 158, 0.5) 100%), url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}



.menu1 {
    padding-top: 27px;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    /*-----------Quitar fijacion menu-------*/
    position: fixed;
    z-index: 100;
    /*--------------------------------------*/
}

/*------------MENU MARLON---------------*/
nav {
    margin: 0px auto 0;
    position: relative;
    width: 60%;
    height: 50px;
    background-color: #1E1E1E;
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: auto;
    padding-left: 22px;
}

a:nth-child(2) {
    width: 120px;
}

a:nth-child(3) {
    width: 120px;
}

a:nth-child(4) {
    width: 100px;
}

a:nth-child(5) {
    width: 100px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #FF9800;
}

nav .start-about,
a:nth-child(2):hover~.animation {
    width: 120px;
    left: 100px;
    background-color: #FFCD00;
}

nav .start-blog,
a:nth-child(3):hover~.animation {
    width: 120px;
    left: 220px;
    background-color: #00B7BD;
}

nav .start-portefolio,
a:nth-child(4):hover~.animation {
    width: 100px;
    left: 340px;
    background-color: #FF9800;
}

nav .start-contact,
a:nth-child(5):hover~.animation {
    width: 100px;
    left: 440px;
    background-color: #FFCD00;
}

/*-------------------Texto menu------------------------*/
.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    background-color:
}

.head {
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFCD00;
}

.head h1 {
    font-weight: 300;
    font-size: 100px;
    /*text-shadow: 2px 5px 5px #000000;*/
    font-family: Bigfat;
    text-shadow: 5px 5px 0px #FF9800, 8px 8px 0px #00B7BD
}

.copy h3 {
    font-size: 35px;
    color: #FF9800;
    font-family: 'Niconne', cursive;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0px 5px 10px 0px;
    letter-spacing: .15em;
    animation:
        typing 3s steps(20, end),
        blink-caret .5s step-end infinite;
    text-shadow: 3px 3px 0px #FFCD00,
        5px 5px 0px #00B7BD,
        7px 7px 0px #34495e;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

/*|-----------SLIDER FOTOS PROMOCIONES-------------------|*/

.slider {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 25%;
    margin-top: 5%;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
}

.navigation-mannual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mannual-btn {
    border: 2px solid #E9F1ED;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    background: rgba(51, 51, 51, 0.5);

}

.mannual-btn:not(:last-child) {
    margin-right: 40px;

}

.mannual-btn:hover {
    background-color: #E9F1ED;

}

#radio1:checked~.first {
    margin-left: 0;

}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

/* Automatic Navigation */
.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
    padding-top: 10px;
    padding-bottom: 10px;


}

.navigation-auto div {
    border: 2px solid #333;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    background: rgba(51, 51, 51, 0.5);

}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn-1 {
    background: #E9F1ED;
}

#radio2:checked~.navigation-auto .auto-btn-2 {
    background: #E9F1ED;
}


#radio3:checked~.navigation-auto .auto-btn-3 {
    background: #E9F1ED;
}

#radio4:checked~.navigation-auto .auto-btn-4 {
    background: #E9F1ED;
}
/*|-----------Divs menu Comida rapida-------------------|*/
.titulo{
    background-color: #FF9800;
    width: 100%;
    height: auto;
    margin: 20px 0px;

}
.titulo h1{
    font-family: Bigfat;
    text-align: center;
    font-size: 90px;
}

.comida_rapida{
    display: flex;
    justify-content: center;
}

.subcomida{
    width: 25%;
    height: auto;
    /*background-color: red;*/
    margin: 10px 60px;
}

.imgcomida{
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.imgcomida #com1{
    width: 100%;
}

.imgcomida #com2{
    width: 100%;
}

.imgcomida #com3{
    width: 100%;
    padding-top: 56px;
}

.textocomida{
    height: 50%;
    transition: all 500ms ease-out;
    color: white;

}

.textocomida h3{
    font-family: Bigfat;
    font-size: 2rem;
    text-align: center;
}

.textocomida p{
    font-family: 'Baloo 2', cursive;
    font-size: 1.2rem;
    text-align: justify;
}

/*|-----------Divs menu pizzeria-------------------|*/
.titulopizz{
    background-color: #FFCD00;
    width: 100%;
    height: auto;
    margin: 20px 0px;

}
.titulopizz h1{
    font-family: Bigfat;
    text-align: center;
    font-size: 90px;
}

.pizza{
    display: flex;
    justify-content: center;
}

.subpizza{
    width: 25%;
    height: auto;
    /*background-color: red;*/
    margin: 10px 60px;
}

.imgpizza{
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.imgpizza #com1{
    width: 100%;
}

.imgpizza #com2{
    width: 100%;
}

.imgpizza #com3{
    width: 100%;
    height: 238px;
}

.textopizza{
    height: 50%;
    transition: all 500ms ease-out;
    color: white;
}

.textopizza h3{
    font-family: Bigfat;
    font-size: 2rem;
    text-align: center;
}

.textopizza p{
    font-family: 'Baloo 2', cursive;
    font-size: 1.2rem;
    text-align: justify;
}

/*|-----------Divs menu Heladeria-------------------|*/
.titulohel{
    background-color: #00B7BD;
    width: 100%;
    height: auto;
    margin: 20px 0px;

}
.titulohel h1{
    font-family: Bigfat;
    text-align: center;
    font-size: 90px;
}

.helado{
    display: flex;
    justify-content: center;
}

.subhelado{
    width: 25%;
    height: auto;
    /*background-color: red;*/
    margin: 10px 60px;
}

.imghelado{
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.imghelado #com1{
    width: 60%;
    height: 355px;
}

.imghelado #com2{
    width: 100%;
    padding-top: 23px;
    margin-bottom: 40px;
}

.imghelado #com3{
    width: 60%;
    height: 355px;
}

.textohelado{
    height: 50%;
    transition: all 500ms ease-out;
    color: white;
}

.textohelado h3{
    font-family: Bigfat;
    font-size: 2rem;
    text-align: center;
}

.textohelado p{
    font-family: 'Baloo 2', cursive;
    font-size: 1.2rem;
    text-align: justify;
}


/*|-----------------BODY--------------------------------|*/
.subtitulo2 {
    margin-top: 10px;
}

section {
    color: white;
}

.contenedor1 {
    width: 100%;
}

.contenedor1 h2 {
    color: #00B7BD;
    text-shadow: 3px 3px 0px #34495e, 5px 5px 0px #34495e
}

.subtitulo1 {
    font-family: 'Noto Sans', sans-serif;
    text-align: justify;
    padding: 0 50px;
}


.spa {
    width: 100%;
    height: 450px;
    display: flex;
    margin-bottom: 5%;
}

.restaurante {
    width: 100%;
    height: 450px;
    display: flex;
    margin-bottom: 5%;
}

.piscina {
    width: 100%;
    height: 450px;
    display: flex;
}

.parqueadero {
    width: 100%;
    height: 450px;
    display: flex;
    margin-bottom: 5%;
}

.spa2 {
    width: 40%;
    height: 350px;
    margin: 0px 25px 0px 25px;
}

.restaurante2 {
    width: 55%;
    height: 450px;
    margin-left: 20px;
}

.piscina2 {
    width: 55%;
    height: 450px;
    margin-left: 20px;
}

.parqueadero2 {
    width: 40%;
    height: 350px;
    margin: 0px 25px 0px 25px;
}

.spa3 {
    width: 55%;
    height: 450px;
}

.restaurante3 {
    width: 40%;
    height: 350px;
    margin: 0px 25px 0px 25px;
}

.piscina3 {
    width: 40%;
    height: 350px;
    margin: 0px 25px 0px 25px;
}

.parqueadero3 {
    width: 55%;
    height: 450px;
}

.img-ser {
    width: 100%;
    height: 450px;
    border-radius: 10px;
}

.titulo1 {
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: white;
}

.mapa {
    width: 100%;
    height: 650px;
    text-align: center;
    margin-top: 7%;
}

.mapa2 {
    border: 5px solid black;
    height: 600px;
    width: 80%;
}



/*|-----------------------FOOTER------------------------|*/
footer {
    width: 100%;
    padding: 30px 0px 10px 0px;
    background-size: cover;
    background-color: #253443;
    margin-top: 50px;
    list-style: none;
    color: white;
}

.footertodo {
    display: flex;
    width: 80%;
    border-top: 1px solid #2a4764;
    margin: 0 10%;
    padding-bottom: 2%;
    padding-top: 1%;
}

.menufoot {
    width: 20%;
    margin: 0 8%;
}

.menufoot h2 {
    margin-left: 10px;
    color: #00B7BD;
    text-shadow: 2px -1px 0px #1a538d, 3px -2px 0px #1b76d0;
}

.menufoot li a {
    color: white;
}

.contactanos {
    width: 20%;
    margin: 0 8%;
}

.contactanos h2 {
    margin-left: 10px;
    color: #00B7BD;
    text-shadow: 2px -1px 0px #1a538d, 3px -2px 0px #1b76d0;
}

.contactanos li {
    margin: 2% 0;
}

.cont-icon {
    width: 20%;
    text-align: center;
    margin: 0 7%;
}

.cont-icon h2 {
    width: 100%;
    color: #00B7BD;
    text-shadow: 2px -1px 0px #1a538d, 3px -2px 0px #1b76d0;
}

.icon {
    display: flex;
    /*padding-left: 35%;*/
    margin-top: 30px;
    margin-left: 16%;
}

.icon a {
    width: auto;
    margin: 0 3px;
}

.colorear {
    font-size: 30px;
    margin-left: 1%;
}

.bxl-facebook-circle {
    color: #4267B2;
}

.bxl-twitter {
    color: #1DA1F2;
}

.bxl-instagram-alt {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.bxl-youtube {
    color: #FF0000;
}

.dautor {
    text-align: center;
    border-top: 1px solid #2a4764;
    padding-top: 2%;
    width: 80%;
    margin: 0 10%;

}

/*-----------------------------------------------------*/