<footer>
    <div class="footertodo">
        <div class="menufoot">
            <h2>Menu</h2>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="Restaurante-Bar/index.html">Carta</a></li>
            <li><a href="Galeria/index.html">Galeria</a></li>
            <li><a href="Habitaciones/index.html">Domicilios</a></li>
            <li><a href="Login-Register/login/login.html">Iniciar Sesión</a></li>
        </div>
        <div class="contactanos">
            <h2>Contactanos</h2>
            <li>
                <p>CRA6W #37 - 06</p>
            </li>
            <li>
                <p>3184345876</p>
            </li>
            <li>
                <p>Neiva, Colombia</p>
            </li>
            <li>
                <p>heladeriamatiaspinpin@gmail.com</p>
            </li>
        </div>
        <div class="cont-icon">
            <h2>Encuéntranos en</h2>
            <div class="icon">
                <a href="https://www.facebook.com/heladeriamatiaspinpin"><i class='bx bxl-facebook-circle colorear'></i></a>
                <a href="#"><i class='bx bxl-twitter colorear'></i></a>
                <a href="https://www.instagram.com/heladeriamatiaspinpin/"><i class='bx bxl-instagram-alt colorear'></i></a>
                <a href="#"><i class='bx bxl-youtube colorear'></i></a>
            </div>
        </div>
    </div>
    <p class="dautor">
        © 2022 Matias Pin Pin. Matias Pin Pin <a href="">Privacy Policy</a> | <a href="">Cookies Policy</a>
    </p>
</footer>